---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";
import { getLanguageFromURL } from "../utils";
import {BRAND, BC_URL } from "data"
const lang = getLanguageFromURL(Astro.url.toString());
import { languages } from "../i18n/languages";
export interface Props {
  title: string;
  description?: string;
}
//const resolvedImageWithDomain = new URL("/opengraph.jpg", BC_URL).toString();
const { title, description } = Astro.props;
const currentPath =  Astro.url.pathname.replace(/^\/[a-z]{2}(-[a-z]{2})?\//, '');




const languageAlternates = Object.keys(languages).map(langCode => {
  return {
    href: `${BC_URL}/${langCode}/${currentPath}`,
    hrefLang: langCode
  };
});


---

<!DOCTYPE html>
<html lang=`${lang}`>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={`${title}${title && " | "}datanautes`}
      description= {`${description ||  "Datanautes"}`}
      canonical={BC_URL + Astro.url.pathname}
      languageAlternates={languageAlternates}
     twitter={{
        creator: "@datanautes",
        site: "@datanautes",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          type: "website",
          title: `${title}${title && " | "}datanautes`,
          image: `${BC_URL}/opengraph/src/content/blog/${lang}/${currentPath.slice(0, -1)}.png`,
          url: BC_URL + Astro.url.pathname
        },
        image: {
          alt: "datanautes Thumbnail",
        },
      }}
    />
    <script async type="text/partytown" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9078114372269384"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
      /* Avoid Alpine.js Hidden Element Flash */
      [x-cloak] {
        display: none;
      }
    </style>
  </body>
</html>
